In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('employee_stat.csv', index_col=0)

#### Descriptive

In [12]:
df.describe()

# we can use include='all'

              salary        balance
count    1000.000000    1000.000000
mean    65640.613000  310704.785000
std     24801.138643  134353.381271
min     20030.000000   81126.000000
25%     45979.000000  193296.500000
50%     66477.000000  315952.000000
75%     85411.500000  422729.500000
max    109805.000000  549344.000000

#### Numerical

In [13]:

df['salary'].describe().astype(int)

count      1000
mean      65640
std       24801
min       20030
25%       45979
50%       66477
75%       85411
max      109805
Name: salary, dtype: int32

#### Categorical

In [14]:


df['country'].describe()

count       1000
unique        16
top       Russia
freq         321
Name: country, dtype: object

In [15]:
# we can break down descriptive statistics functions 
# there are some other functions like ...sum, cumsum, abs etc

print('Standard Deviation: ', df['salary'].std())
print('Average of Balance: ', df['balance'].mean())
print('0.50 Quartile: ', df['salary'].quantile(q=0.50))

Standard Deviation:  24801.13864340184
Average of Balance:  310704.785
0.50 Quartile:  66477.0

#### The mode is the value that appears most often in a set of data values. 
#### mode() - mostly used for categorical data.
#### together (mean, median and mode) called central tendency.

In [16]:
print('Salary Mode:', df['salary'].mode())
print('Balance Mode:', df['balance'].mode())

Salary Mode: 0    66477
dtype: int64
Balance Mode: 0    315952
dtype: int64

### SAMPLE  is a small representative things who can represent main dataset.  It saves time, boosts the performance of the model, and improves visualization.

In [17]:
sample = df.sample(frac=0.25)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 69 to 460
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   full_name    250 non-null    object
 1   gender       250 non-null    object
 2   address      250 non-null    object
 3   country      250 non-null    object
 4   university   250 non-null    object
 5   job_title    250 non-null    object
 6   company      250 non-null    object
 7   salary       250 non-null    int64
 8   credit_card  250 non-null    object
 9   balance      250 non-null    int64
 10  vehicle      250 non-null    object
 11  birthday     250 non-null    object
 12  shirt_size   250 non-null    object
dtypes: int64(2), object(11)
memory usage: 27.3+ KB